<div class="row jumbotron">

	<h1 class='center'><%= @product.name %></h1>
	<div class="col-md-6 left">
		<%= image_tag(@product.image.url, class: 'img-responsive')  %>
	</div>
	<div class="col-md-6 right">
		<p>
			<strong>Created By</strong>
			<%= @product.user.first_name %> <%= @product.user.last_name %>
		</p>
		<h3>$ <%= @product.price  %></h3>
		<button class="btn btn-primary">add to cart</button>
	</div>
</div>
<div class="container">
	<p> <%= @product.description  %></p>
	<% if user_signed_in? && @product.user == current_user %>
		<%= link_to 'Edit', edit_product_path(@product) %> |
		<%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %> |
	<% end %>
	<%= link_to 'Back', products_path %>
	
	<% if user_signed_in? %>
		<%= render "reviews/index", { product_id: @product.id }  %>
	<% end %>

</div>
