<div id="reviews">
	<% @product.reviews.each do |review| %>
		<hr>
		<b>Author Name:</b> <%= review.user.first_name  %> <%= review.user.last_name %><br>
		<%= review.body  %>
	<% end %>
</div>


<hr>
<% if user_signed_in? %>
	<form id="review_form" onsubmit="return addReview(<%= @product.id %>, <%= current_user.to_json %>)">
		<textarea class="form-control" id="review_textarea"></textarea>
		<button class="btn btn-primary">Submit</button>
	</form>
<% end %>